:root{
    --body-color: #548687;
    --button: rgb(140, 0, 255);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body-color);
    text-align: center;
    height: 100dvh;
    overflow: hidden;
}

h1{
    font-size: 8vmin;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vmin;
}

.button{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5vmin;
    border: none;
    font-size: 8vmin;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    background-color: white;
    color: black;
}

.button:hover{
    background: transparent;
    color: cyan;
    border: 1vmin solid cyan;
}

#reset{
    padding: 3vmin;
    font-size: 4vmin;
    border: 2px solid transparent;
    border-radius: 5vmin;
    transition: all 0.3s ease-in-out;
    transform: translateY(-30px);
}

#reset:hover{
    background: transparent;
    border: 3px solid cyan;
    color: cyan;
}